<!DOCTYPE html>
<html>
<head>
    <title>Awareness Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class ="awareness">

<div class="container">

    <h1 class="title">⚡ Awareness Portal</h1>

    <div class="card">

        <h2>🚨 Stay Safe Online</h2>

        <p>
            Never share your username or password with anyone.  
            Avoid clicking unknown spam links or fake login pages.
        </p>
    <p class="white-text">  
        <ul>
            <li>✔ Don’t share OTP</li>
            <li>✔ Check website before login</li>
            <li>✔ Avoid phishing links</li>
            <li>✔ Use strong password</li>
        </ul>
    </p>
        

    </div>

</div>

</body>
</html>