*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0f172a;
    overflow:hidden;
}

.background{
    position:absolute;
    width:100%;
    height:100%;
    background:
    radial-gradient(circle at top left,#38bdf855,transparent 30%),
    radial-gradient(circle at bottom right,#0ea5e955,transparent 30%);
}

.login-card{
    position:relative;
    width:420px;
    padding:40px;
    background:rgba(30,41,59,0.95);
    border:1px solid rgba(56,189,248,0.3);
    border-radius:20px;
    backdrop-filter:blur(10px);
    box-shadow:0 0 35px rgba(56,189,248,0.2);
    text-align:center;
}

.logo{
    font-size:60px;
    margin-bottom:15px;
}

h1{
    color:#f8fafc;
    margin-bottom:10px;
}

p{
    color:#94a3b8;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:none;
    outline:none;
    border-radius:10px;
    background:#334155;
    color:white;
    font-size:15px;
}

input::placeholder{
    color:#cbd5e1;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:translateY(-2px);
    box-shadow:0 0 20px #38bdf8;
}

.footer-text{
    margin-top:20px;
    color:#94a3b8;
    font-size:13px;
}
.logo{
    font-size:60px;
    margin-bottom:15px;
}

.subtitle{
    color:#94a3b8;
    margin-bottom:20px;
}

.footer{
    margin-top:15px;
    color:#94a3b8;
    font-size:12px;
}

input:focus{
    border:2px solid #38bdf8;
    box-shadow:0 0 15px rgba(56,189,248,.5);
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 0 25px #38bdf8;
}
.password-box{
    position:relative;
}

.password-box input{
    width:100%;
}

.eye{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    font-size:18px;
}

 .awareness {
    color: white;
    background-color: rgb(8, 8, 66);
}
